<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <style>
        body{
            text-align:center;
            background-color: rgb(223, 223, 223);
        }
        .centerPannel{
            text-align:left;
            margin:6em auto 2em auto;
            background-color: rgb(255, 255, 255);
            width:40em;
            height:34em
        }

        .footerPannel{
            text-align:center;
            margin:0 auto;
            background-color: rgb(223, 223, 223);
            width:40em;
            font-size: 0.8em;
            color: rgb(128, 128, 128);
        }
        .icon{
            margin:2em;
            padding-top:2em;
            width:7em;
        }
        .icon_img{
            width: 7em;
        }
        .centerPannel span{
            display: block;
            padding-left: 4em;
            line-height: 1.5em;
            color: rgb(65, 65, 65);
        }
        .centerPannel a{
            color: #002d5f;
            text-decoration: underline;
        }
        .to-name{
            margin-bottom: 2em;
        }
        .content-click-to-go{
            margin-top: 2em;
            margin-bottom: 3em;
        }
        .footer-no-reply{
            margin-top: 2em;
            display: block;
        }
    </style>
</head>
<body>
    <div class="centerPannel">
        <div class="icon">
            <a href="https://www.businesstimes.com.hk/">
                <img class="icon_img" src="https://static.businesstimes.com.hk/static/common/favicons/2020/favicon.png"/>
            </a>
        </div>
        <hr/>
        <span class="to-name">$USERNAME,</span>
        <span>請點擊以下連結重設您的會員密碼：</span>
        <span class="content-click-to-go"><a href="$LINK">點擊重設您的會員密碼</a></span>
        <span>或者，將下面連結複製并粘貼到瀏覽器中：</span>
        <span class="copy-href"><a href="$LINK">$LINK</a></span>
    </div>
    <div class="footerPannel">
        <span>此電郵由香港財經時報HKBT發送至<span id="footer-name">$USERNAME</span>(<span id="footer-email">$TO</span>)</span><br/>
        <span>關於重設您的HKBT會員密碼(<span id="footer-account-id">$USERNAME</span>)</span><br/>
        <span class="footer-no-reply">此乃電腦系統自動發出之訊息，請勿回復此電郵。如有任何疑問，請聯絡</span>
        <span>info@businesstimes.com.hk，我們樂意爲您提供協助。</span>
    </div>
</body>
</html>
